[submodule "externals/Laptop-DSDT-Patch"]
	path = externals/Laptop-DSDT-Patch
	url = https://github.com/RehabMan/Laptop-DSDT-Patch
[submodule "externals/ssdtPRGen"]
	path = externals/ssdtPRGen
	url = https://github.com/Piker-Alpha/ssdtPRGen.sh.git
